<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.0/dist/echarts.min.js" type="text/javascript"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
<!-- 为 ECharts 准备一个定义了宽高的 DOM -->
<div id="main" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));

    $.get('http://127.0.0.1:8000/admin/operationaldata/index_data').done(function (data) {
        myChart.setOption({
            title: {
                text: data.data.title
            },
            tooltip: {},
            legend: {
                data: ['销量']
            },
            xAxis: {
                data: data.data.categories
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: data.data.data2
            }]
        });
    });
</script>
</body>

</html>
</body>

</html>