<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
                      <div class="col-md-12">
                          <div class="row">
                          <div class="col-md-3">
                              <div class="analytics-box white-box">
                                  <h3>Total Revenue</h3>
                                  <div class="analytics-info">
                                       <div class="analytics-stats">
                                            $8659
                                       </div>
                                       <span id="sparklinestats1"><canvas style="display: inline-block; width: 67px; height: 30px; vertical-align: top;" width="67" height="30"></canvas></span>
                                  </div>
                              </div>
                          </div> <!-- /analytics-box-->


                          <div class="col-md-3">
                              <div class="analytics-box white-box">
                                  <h3>Today Sales</h3>
                                  <div class="analytics-info">
                                       <div class="analytics-stats">
                                            $8659
                                       </div>
                                       <span id="sparklinestats2"><canvas width="67" height="30" style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas></span>
                                  </div>
                              </div>
                          </div> <!-- /analytics-box-->


                          <div class="col-md-3">
                              <div class="analytics-box white-box">
                                  <h3>Total Visitors</h3>
                                  <div class="analytics-info">
                                       <div class="analytics-stats">
                                            6011
                                       </div>
                                       <span id="sparklinestats3"><canvas width="67" height="30" style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas></span>
                                  </div>
                              </div>
                          </div> <!-- /analytics-box-->


                          <div class="col-md-3">
                              <div class="analytics-box white-box">
                                  <h3>Bounce Rate</h3>
                                  <div class="analytics-info">
                                       <div class="analytics-stats">
                                            6011
                                       </div>
                                       <span id="sparklinestats4"><canvas width="67" height="30" style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas></span>
                                  </div>
                              </div>
                          </div> <!-- /analytics-box-->

                         </div>
                      </div>
                  </div>
</body>
</html>